* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0
}

body {
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  color: white;
}

.page {
  height: 100vh;
  padding-top: 1em;
  background: url("../images/responsiveImages/SOC-logo.png"),
              url("../images/responsiveImages/planet.png"),
              url("../images/responsiveImages/spaceman.png"),
              url("../images/responsiveImages/space-background.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 50% 112px, 58px 90%, 94% 50%, 0 0;
  background-size: 150px 180px, 222px 168px, 214px 204px, cover;
}

h1 {
  text-align: center;
  margin: 0.5em;
  font-size: 2.7em;
  margin-top: 0.1em;
}

h1 {
  text-align: center;
  margin: 0.5em;
  font-size: 2.7em;
  margin-top: 0.1em;
}

/* the holder is so we can freely place the text at the bottom of the page regardless of size */
.text-box-holder {
  position: absolute;
  height: 280px;
  width: 100%;
  bottom: 16px;
}
#text-box {
  height: 280px;
  width: 88%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(5, 13, 28, .6);
}

/* style the text-box scrollbars */
 /* width */
 #text-box::-webkit-scrollbar {
   width: 6px;
 }

 /* Track */
 #text-box::-webkit-scrollbar-track {
   background: rgb(5, 13, 28);
 }

 /* Handle */
 #text-box::-webkit-scrollbar-thumb {
   background: #f1f1f1;
 }

 /* Handle on hover */
 #text-box::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

p {
  font-size: 2rem;
}

#enter {
  font-size: 2.5em;
  position: absolute;
  right: 100px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px silver;
  padding: 0.2em;
}

  #enter:hover {
  background-color: darkturquoise;
}


@media screen and (min-width: 600px) {
  .page {
    background-position: 50% 112px, 58px 88%, 80% 42%, 0 0;
    background-size: 150px 180px, 276px 206px, 234px 224px, cover;
  }
  #text-box {
    width: 76%;
    padding: 1em;
  }
}

@media screen and (min-width: 700px) {
  .page {
    background-position: 50% 112px, 58px 66%, 96% 60%, 0 0;
  }
  #text-box {
    width: 66%;
  }
}

@media screen and (min-width: 768px) {
  .page {
    background-position: 50% 112px, 58px 60%, 96% 70%, 0 0;
  }
  #text-box {
    width: 55%;
  }
}

@media screen and (min-width: 768px) and (min-height: 800px) {
  .text-box-holder {
    height: 380px;
  }
  #text-box {
    height: 380px;
  }
}
@media screen and (min-width: 768px) and (min-height: 1000px) {
  .text-box-holder {
    height: 480px;
  }

  #text-box {
    height: 480px;
  }
}