*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body{
  background-color: lightyellow;
  background-image: url(/images/tech-advance.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

#question {
  border-radius: 10px;
  padding: 0.2rem;
  text-align:  center;
}

.backgroundColor {
  background-color: white;
  margin: 0 2rem;
  padding: 0 2rem;
  border-radius: 10px;
}
h1 {
  border-radius: 20px;
  padding: 0.2rem;
  margin: 1rem auto;
  text-align:  center;
}


#next-question {
  font-size: 1em;
  padding: 1em;
  background-color: whitesmoke;
  box-shadow: 3px 6px 2px darkslategray;
  border-radius: 10px;
  margin-top: 0.5em;
}

#next-question:hover {
  background-color: white
}

.invisible {
  display:none;
}

#answerBox {
  display: flex;
  justify-content: space-around;
  margin: 2em auto;
  max-width: 1100px;
}

.answer {
  font-size: 1.2em;
  padding: 1.2em;
  background-color: coral;
  margin: 0.4em;
  border: 3px solid black;
  box-shadow: 5px 5px 2px #db5d04;
  border-radius: 10px;
  flex-grow:1;
}

.correct {
  border: 3px solid green
}

.wrong {
  border: 3px solid red
}

.answer:hover{
  background-color: darksalmon;
}

.display-flex {
  display: flex;
}

#score-board {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(242, 146, 43);
  padding: 0.5em;
  border-radius: 10px;
  align-self: center;

}


.tech-inventory {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: brown;
  border-radius: 10px;
}

.tech-advice {
  display:inline-block;  
  position: relative
}

.tech-advice .tech-tool-text{
  visibility: hidden;
  width: 8rem;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 120%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1
}

.tech-advice:hover .tech-tool-text {
  visibility: visible;
}




