




body {
  background-image: url(../images/newEarth.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;

}

#text-box {
    background-color: white;
    padding: 0.25rem 1.5rem;
    width: 90%;
    border-radius: 10px;
}

/* #text {
  background-color: white;
} */


